/* ------------------------------------------------------------------------------------------------------------- */
/* --- GLOBAL -------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #121212;
}

body,
.scrollhidden::-webkit-scrollbar {
    width: 0px;
}

body,
.scrollhidden::-webkit-scrollbar-track {
    background: transparent;
}

body,
.scrollhidden::-webkit-scrollbar-thumb {
    background-color: transparent;
}

@font-face {
    font-family: kalam;
    src: url(../Kalam/Kalam-Regular.ttf);
}

@font-face {
    font-family: marker;
    src: url(../Permanent_Marker/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: comfortaa;
    src: url(../Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

.html-wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 10px;
    margin: 10px;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
}

.grid-card {
    border-radius: 8px;
    background-color: #1e1e1e;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
    padding: 8px;
}

.flex-col-max-height {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    overflow-y: scroll;
}

.section-content {
    color: #a1a1a1;
    height: 100%;
    width: 100%;
    font-family: comfortaa;
    font-weight: 900;
}

.card-content {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 10px;
    font-family: comfortaa;
    font-weight: 900;
}

.progress {
    background-color: #a1a1a1 !important;
}

.head-task {
    color: #a1a1a1;
    padding: 8px 16px;
    font-family: comfortaa;
    font-weight: 900;
}

.liste-task {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    color: #B2B2B2;
    padding: 8px 16px;
    cursor: pointer;
    font-family: comfortaa;
    font-weight: 900;
}

.liste-task-no-card {
    border-radius: 8px;
    padding: 4px 16px;
    cursor: pointer;
    font-family: comfortaa;
    font-weight: 900;
}

.liste-task-no-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #444444;
}

.table-task {
    cursor: pointer;
    border-radius: 8px;
    font-family: comfortaa;
    font-weight: 900;
    font-size: 18px;
}

.histo-task-dashboard {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #444444;
    border-radius: 8px;
    color: #a1a1a1;
    padding: 2px 8px;
    font-family: comfortaa;
    font-weight: 900;
}

.card-task-prio-dashboard {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    padding: 2px 8px;
    font-family: comfortaa;
    font-weight: 900;
}

.prio_1 {
    background-color: #cf6363;
    color: #4e2525;
}

.prio_2 {
    background-color: #d99157;
    color: #593b23;
}

.prio_3 {
    background-color: #dbbe56;
    color: #5b4e23;
}

.prio_4 {
    background-color: #74adc0;
    color: #263940;
}

.histo-task {
    border-radius: 8px;
    color: #a1a1a1;
    padding: 2px 8px;
    font-family: comfortaa;
    font-weight: 900;
}

td,
th {
    padding: 10px;
}

.pointer {
    cursor: pointer;
}

div[class*="wrapper"] {
    background-color: #121212;
}

.br8 {
    border-radius: 8px!important;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------------------------------- */
/* --- SIDEBAR ------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* gap: 20px; */
    font-size: 24px;
}

.sidebar-link {
    color: #a1a1a1;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}

.logo-sidebar {
    font-size: 36px;
    width: 36px;
    height: 36px;
}

.sidebar-link:hover {
    color: #c2c2c2;
}

div.sidebar-link {
    width: 52px!important;
    transition: width 0.7s ease-in-out;
}

.sidebar:hover > div.sidebar-link {
    width: 400px!important;
}

.sidebar-link-selected {
    background-color: #3f3f3f;
    color: #c2c2c2;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------------------------------- */
/* --- DASHBOARD ----------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
.dashboard-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 10px;
    /* margin: 5px; */
    width: calc(100% - 0px);
    height: calc(100vh - 20px);
}

/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------------------------------- */
/* --- ARRAY --------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
.array-wrapper {
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    grid-template-rows: repeat(29, 1fr);
    grid-gap: 10px;
    width: calc(100% - 0px);
    height: calc(100vh - 20px);
}

.todo-bright:hover {
    filter: brightness(150%);
}
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------------------------------- */
/* --- DASHBOARD JOURNALIER ------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------- */
.journalier-wrapper {
    display: grid;
    grid-template-columns: repeat(26, 1fr);
    grid-template-rows: repeat(14, 1fr);
    grid-gap: 10px;
    width: calc(100% - 0px);
    height: calc(100vh - 20px);
}

.journalier-card,.journalier-card-gemme {
    border-radius: 8px;
    padding: 8px 24px;
    cursor: pointer;
    font-family: comfortaa;
    font-weight: 900;
}

.journalier-card:hover,.journalier-card-gemme:hover {
    /* filter: brightness(120%); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #444444!important;
}

.journalier-card-info {
    border-radius: 8px;
    padding: 8px 24px;
    font-family: comfortaa;
    font-weight: 900;
}

.ia_tasks:hover {
    background-color: #444444!important;
}

.ia-card-selected {
    box-shadow: inset 0px 0px 15px 1px rgba(89,89,89,0.75);
}
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------------------------------- */
/* --- PERSO --------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
#pageperso-wrapper {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(14, 1fr);
    grid-gap: 10px;
    /* margin: 5px; */
    width: calc(100% - 0px);
    height: calc(100vh - 20px);
    border-radius: 8px;
}

.liste-task-pageperso {
    border-radius: 8px;
    padding: 10px;
    font-family: comfortaa;
    font-weight: 900;
    cursor: pointer;
}

.liste-task-pageperso:hover:not(span) {
    filter: brightness(150%);
}

.pageperso-fateember {
    border-radius: 8px;
    padding: 4px 16px;
    cursor: pointer;
    font-family: comfortaa;
    font-weight: 900;
    width: 100%;
}

.pageperso-fateember-no-click {
    border-radius: 8px;
    padding: 4px 16px;
    font-family: comfortaa;
    font-weight: 900;
    width: 100%;
}

.pageperso-fateember:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #444444;
}
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------------------------------- */
/* --- DAILY --------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
.daily-wrapper {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(14, 1fr);
    grid-gap: 10px;
    /* margin: 5px; */
    width: calc(100% - 0px);
    height: calc(100vh - 20px);
}

.card-daily-done {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 10px;
    font-family: comfortaa;
    font-weight: 900;
}

.card-daily-todo {
    border-radius: 8px;
    padding: 10px;
    font-family: comfortaa;
    font-weight: 900;
    cursor: pointer;
}

.card-daily-todo:hover {
    filter: brightness(150%);
}

/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------------------------------- */
/* --- WEEKLY -------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
.weekly-wrapper {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(14, 1fr);
    grid-gap: 10px;
    /* margin: 5px; */
    width: calc(100% - 0px);
    height: calc(100vh - 20px);
}

.card-weekly-done {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 10px;
    font-family: comfortaa;
    font-weight: 900;
}

.card-weekly-todo {
    border-radius: 8px;
    padding: 10px;
    font-family: comfortaa;
    font-weight: 900;
    cursor: pointer;
}

.card-weekly-todo:hover {
    filter: brightness(150%);
}

/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------------------------------- */
/* --- RAIDS --------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
.raids-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-gap: 10px;
    /* margin: 5px; */
    width: calc(100% - 0px);
    height: calc(100vh - 20px);
}

.card-raid-done {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 10px;
    font-family: comfortaa;
    font-weight: 900;
}

.card-raid-todo {
    border-radius: 8px;
    padding: 10px;
    font-family: comfortaa;
    font-weight: 900;
    cursor: pointer;
}

.card-raid-todo:hover {
    filter: brightness(150%);
}
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------------------------------- */
/* --- GOLD ---------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
.gold-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-gap: 10px;
    /* margin: 5px; */
    width: calc(100% - 0px);
    height: calc(100vh - 20px);
}

.info-gold-card {
    border-radius: 8px;
    color: #a1a1a1;
    padding: 2px 8px;
    font-family: comfortaa;
    font-weight: 900;
}

.info-gold-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #444444;
}
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------------------------------- */
/* --- FATE EMBER ---------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
.fate-ember-wrapper {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 10px;
    /* margin: 5px; */
    width: calc(100% - 0px);
    height: calc(100vh - 20px);
}

/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------------------------------- */
/* --- GEMME --------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
.gemme-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-gap: 10px;
    /* margin: 5px; */
    width: calc(100% - 0px);
    height: calc(100vh - 20px);
}

.gem-classe-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.card-gemme-perso-collected {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 4px 16px;
    cursor: pointer;
    font-family: comfortaa;
    font-weight: 900;
}

.card-gemme-perso-total {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 4px 16px;
    font-family: comfortaa;
    font-weight: 900;
}

.card-gemme-perso-collected:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #444444;
}

.card-gemme-perso {
    border-radius: 8px;
    padding: 4px 16px;
    cursor: pointer;
    font-family: comfortaa;
    font-weight: 900;
}

.card-gemme-perso:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #444444;
}

.page-gemme-liste-card {
    border-radius: 8px;
    padding: 4px 16px;
    font-family: comfortaa;
    font-weight: 900;
    width: 100%;
}

.page-gemme-liste-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #444444;
}
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------------------------------- */
/* --- EVENTS -------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
.events-wrapper {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 10px;
    /* margin: 5px; */
    width: calc(100% - 0px);
    height: calc(100vh - 20px);
}

.card-objectif {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #014b89;
    border-radius: 8px;
    color: #a1a1a1;
    padding: 2px 8px;
    font-family: comfortaa;
    font-size: 24px;
    font-weight: 900;
}

.card-timeline {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    background-color: #00651F;
    padding: 4px 8px;
    font-family: comfortaa;
    font-weight: 900;
}

.perso-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: #1e1e1e!important;
}

.card-content-perso {
    background-color: #444444;
    border-radius: 8px;
    padding: 0px 10px;
    font-family: comfortaa;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------------------------------- */
/* --- PLANNING ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------- */
.planning-wrapper {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 10px;
    /* margin: 5px; */
    width: calc(100% - 0px);
    height: calc(100vh - 20px);
}

.ec-time,
.ec-line {
    height: 48px;
}

.card-raid {
    border-radius: 8px;
    padding: 4px 16px;
    cursor: pointer;
    font-family: comfortaa;
    font-weight: 900;
}

.card-raid:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #444444;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------------------------------- */
/* --- SETTINGS ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------- */
.settings-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    /* margin: 5px; */
    width: calc(100% - 0px);
    height: calc(100vh - 20px);
}

.settings-bouton {
    color: #a1a1a1 !important;
    padding: 8px 16px;
    font-family: comfortaa;
    font-weight: 900;
    font-size: 32px;
}

.settings-bouton:hover {
    color: #c2c2c2 !important;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */